.body{
  background: #444;
}

.App{
  height: 950px;
  width: auto;
  background-color: #444;
}
.App h2{
  text-align: center;
  transform : translate(0%,200%);
  font-size: 50px;
}
.App h1{
  text-align: center;
  transform: translate(0%,300%);
}
.App  button
{
  color: rgb(15, 15, 15);
  background-color: rgb(59, 172, 55);
  font-weight: 500;
 font-size: large;
 justify-content: center;
 transform: translate(600%,500%);
}
